.header {
  margin: 0 auto;
  padding: 0 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 928px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 0 16px;
  }
}
