.header__link {
  height: 28px;
  width: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #FFFFFF;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.header__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 720px) {
  .header__link {
    font-size: 18px;
    line-height: 20px;
  }
}
